
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Jost:wght@300&display=swap');

:root {
  --header-height: 160px;
  --header-height-min: 80px;
}


:root {
  --accent-color: #3F6B67;
  --light-dark-color: #727272;
  --light-color: #fff;
  --grey-color: #908F8D;
  --light-grey-color: #f5f5f5;
  --primary-color: #6995B1;
  --light-primary-color: #eef1f3;
}

:root {
  --body-font:  'Comfortaa', sans-serif;
  --heading-font: 'Comfortaa', sans-serif;
  --secondary-font: 'Roboto Slab', serif;
}

.logo {
  position: fixed;
  top: 100px; 
  left: 10px; 
  z-index: 1000; 
}


.billboardtext-2 {
  color: #FF5B22;
  font-weight: bold;
}

.billboardtext-1 {
  color: #3F6B67;
  font-weight: bold;
}

.featured-tutor, .featured-course {
  color:#3F6B67;
}

body {

  --bs-link-color: #3F6B67;
  --bs-link-hover-color: #3F6B67;

  --bs-link-color-rgb: 40, 40, 40;
  --bs-link-hover-color-rgb: 0, 0, 0;

  --bs-light-rgb: 248, 248, 248;

  --bs-font-sans-serif: 'Comfortaa', sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.3rem;

  --bs-primary: #3F6B67;
  --bs-primary-rgb: 167, 215, 197;

  --bs-primary-bg-subtle: #FFF9EB;
  --bs-border-color: #F7F7F7;

  --bs-secondary-rgb: 230, 243, 251;

  --bs-success-rgb: 230, 115, 57;
  --bs-danger-rgb: 249, 235, 231;
  --bs-warning-rgb: 255, 249, 235;
  --bs-info-rgb: 230, 243, 250;
}

.btn {
  --bs-btn-font-family: var(--heading-font);
}

.btn {
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 0.75rem;
  letter-spacing: 0.09375rem;
  text-transform: capitalize;
  transition: all 0.3s ease-in;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid #FF5B22;
}

.btn-outline-dark {
  line-height: 0.75rem;
  letter-spacing: 0.09375rem;
  text-transform: capitalize;
  transition: all 0.3s ease-in;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid #000;
  transition: all 0.5s ease-in;
}

.btn:hover,.btn-outline-dark:hover {
  background-color: #FF5B22;
  color: #fff;
}

.login-box {
  display: inline-block;
  padding: 15px 20px; /* Adjust as needed for space inside the button */
  /* background-color: orange; */
  color: #000; /* Text color */
  border-radius: 15px; /* Makes the edges rounded */
  text-decoration: none; /* Removes underline */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.login-box:hover {
  background-color: #FF5B22; /* Changes the background color on hover */
  color: #fff; /* Changes the text color on hover */
}

a.coursename, a.tutorname {
  text-decoration: none;
}
  
/* div.card {
 border: none;
 box-shadow: none;
} */




body {
  letter-spacing: 0.01625rem;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: var(--heading-font);
  /* color: #3F6B67; */
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
}

.cost {
  font-family: var(--heading-font);
  font-weight: 600;
  color: #3F6B67;
}

.rating {
  color: #FF5B22;
}
.secondary-font {
  font-family: var(--secondary-font);
  font-style: italic;
  font-weight: 400;
}

.padding-large {
  padding-top: 12rem;
  padding-bottom: 14rem;
}

.padding-medium {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.padding-medium-2 {
  padding-top: 11rem;
  padding-bottom: 8rem;
}

@media only screen and (max-width: 768px) {
  .padding-large {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }

  .padding-medium {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .padding-medium-2 {
    padding-top: 12rem;
    padding-bottom: 6rem;
  }
}


.navbar-nav .nav-link.active,
.navbar-nav .nav-link:active,
.navbar-nav .nav-link:hover {
  color: #FF5B22;
}

.nav-link {
  color: #3F6B67;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}


a.footer-link {
  text-decoration: none;
  text-transform: none;
}
a.footer-link:hover {
  color: #FF5B22;
  text-decoration: none;
}

iconify-icon.social-icon {
  color: #3F6B67;
}

iconify-icon.social-icon:hover {
  color: #3F6B67;
}

.nav-tabs .nav-item {
  transition: all 0.1s ease-in;
}
a.course:hover {
  transition: all 0.3s ease-in;
}

a.course:hover {
  color: var(--accent-color);
}

