@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Jost:wght@300&display=swap');
:root {
background-color: #F4F9F4;
}
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 2.s linear;
  font-family: 'Jost', sans-serif;
  scroll-behavior: smooth;
}
html {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    color: #3E6A67;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
} 
body {
    height: 100%;
    background-color: #F4F9F4;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
header {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 9%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    font-size: 24px;
    z-index: 9999;
}
.forms {
    box-shadow: none;
    justify-content: center;
}
a {
    cursor: pointer;
    color: #3E6A67;
}
header .logo {
    font-family: 'Comfortaa', sans-serif;
    font-size: 36px;
    text-shadow: 2px 1px rgba(0,0,0,.1);
}
header .logo span {
    color: #FF5B22;
    font-weight: bold;
}
header nav {
    background: none;
    font-size: 20px;
}
header nav a {
    margin-left: 2rem;
}
.quick-link:hover {
    color: #FF9130;
    transition: 0.3s;
}
.container-register {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.form-box {
    background: #A7D7C5;
    /*width: 400px; 
    height: 500px;
    padding: 40px;*/
    padding: 1.5rem 2rem;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,1);
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-box h2 {
    color: #3E6A67;
    margin-bottom: 1.5rem;
}
.form-box .input-group {
    margin-bottom: 0.7rem;
}
.form-box .second {
    margin-bottom: .2rem;
}
.form-box .note {
    text-align: center;
    margin-bottom: 0.7rem;
    width: 220px;
}
.form-box  .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-box .enter-info input, select {
    padding: .5rem;
    border-radius: 10px;
    width: 220px;
    background: #F4F9F4;
    color: #3e6a67;
    border: none;
}
.form-box .enter-info .css-13cymwt-control {
    border-radius: 10px;
    width: 220px;
    margin-bottom: 0.7rem;
    border: none;
    background: #f4f9f4;
    color: #3e6a67;
}
.form-box .enter-info .css-1f43avz-a11yText-A11yText {
    padding: .5rem;
    border-radius: 10px;
    width: 220px;
    background: #F4F9F4;
    color: #3e6a67;
}
.select__control .css-13cymwt-control { 
  padding: .5rem;
    border-radius: 10px;
    width: 220px;
    background: #F4F9F4;
    color: #3e6a67;
}
.enter-info .reset {
  width: 210px;
  display: flex;
  justify-content: start;
}
.enter-info a {
  font-size: 12px;
  margin-top: -5px;
}
.link {
  color: #3E6A67;
  position: relative;
  font-size: 16px;
  margin-left: .2rem;
}
.link::after {
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    bottom: 0;
    display: block;
    height: 1px;
    background: #3E6A67;
    transition: 0.3s;
}
.link:hover:after {
    width:100%;
}
.btn-register {
    background: #FF9130;
    border-radius: 15px;
    width: 220px;
    margin: 10px;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}
.btn-register button {
    background: none;
    color: #F4F9F4;
    font-size: 16px;
    border: none;
}
.btn-register:hover {
    background: #3E6A67;
    transition: .7s;
}
.buttons-register {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.7rem;
}
.bottom-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom-links span {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}
.bottom-links .q-links {
  display: flex;
  justify-content: space-around;
}
.bottom-links .q-links a {
  font-size: 16px;
  margin: 0 10px;
}
.register-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-bottom span {
  margin: 5px;
  font-size: 16px;
  font-weight: 600;
}
.main {
  margin-top: 45px;
  padding: 2rem 3rem;
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main-content {
  margin-left: 345px;
  transition: margin-left 300ms;
}
/*.div-8 {
    align-self: start;
    width: 1288px;
    max-width: 100%;
    text-transform: none;
  }*/
  .div-9 {
    gap: 20px;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    width: 100%;
  }
  @media (max-width: 991px) {
    .div-9 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    /*width: 16%;*/
    margin-left: 0px;
  }
  
  .div-10 {
    color: #3E6A67;
    font-weight: 800;
    white-space: nowrap;
    border-radius: 15px;
    background-color: #A7D7C5;
    justify-content: center;
    width: 100%;
    padding: 88px 26px 92px 19px;
    font: 400 20px Jost, sans-serif;
  }
  
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 100%;
  }
  
  .div-11 {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-grow: 1;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding: 12px 40px 19px 30px;
  }
  
  .div-12 {
    display: flex;
    flex-direction: column;
  }
  .div-13 {
    color: #3e6a67;
    font: 600 32px Jost, sans-serif;
  }
  .div-14 {
    color: #3e6a67;
    margin-top: 25px;
    font: 500 28px Jost, sans-serif;
  }
  .div-15 {
    color: #000;
    margin-top: 25px;
    font: 500 24px Jost, sans-serif;
  }
  .div-16 {
    color: #3e6a67;
    margin-top: 47px;
    font: 500 28px Jost, sans-serif;
  }
  
  .div-17 {
    color: #000;
    margin-top: 17px;
    font: 500 24px Jost, sans-serif;
  }
  .div-18 {
    color: #3e6a67;
    margin-top: 42px;
    font: 500 28px Jost, sans-serif;
  }
  
  .div-19 {
    color: #000;
    margin-top: 25px;
    font: 500 24px Jost, sans-serif;
  }
  .div-20 {
    align-self: end;
    display: flex;
    margin-top: 49px;
    flex-direction: column;
  }
  
  .div-21 {
    color: #3e6a67;
    align-self: stretch;
    font: 500 28px Jost, sans-serif;
  }
  .div-22 {
    color: #000;
    align-self: stretch;
    margin-top: 24px;
    font: 500 24px Jost, sans-serif;
  }
  .div-23 {
    color: #3e6a67;
    align-self: stretch;
    margin-top: 33px;
    font: 500 28px Jost, sans-serif;
  }
  .div-24 {
    color: #000;
    align-self: stretch;
    margin-top: 29px;
    font: 500 24px Jost, sans-serif;
  }
  .div-25 {
    color: #3e6a67;
    align-self: stretch;
    margin-top: 37px;
    font: 500 28px Jost, sans-serif;
  }
  .div-26 {
    color: #000;
    align-self: stretch;
    margin-top: 24px;
    font: 500 24px Jost, sans-serif;
  }
  .btn {
    color: #f4f9f4;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    border-radius: 70px;
    background-color: #ff9130;
    align-self: end;
    margin-top: 40px;
    padding: 13px;
    font: 500 24px Jost, sans-serif;
    transition: all .4s ease;
    border: none;
  }
  .btn:hover {
    background: #3E6A67;
  }
  .div-28 {
    /*background-color: rgba(255, 255, 255, 1);*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self: start;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 4rem;
    padding: 9px 80px 15px 30px;
  }
  
  .div-29 {
    display: flex;
    margin-right: 23px;
    width: 929px;
    max-width: 100%;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
  }
  
  .div-30 {
    display: flex;
    flex-direction: column;
  }
  .div-31 {
    color: #3e6a67;
    font: 600 32px Jost, sans-serif;
  }
  .div-32 {
    color: #3e6a67;
    margin-top: 31px;
    white-space: nowrap;
    font: 500 28px Jost, sans-serif;
  }
  
  .div-33 {
    color: #000;
    margin-top: 22px;
    font: 500 24px Jost, sans-serif;
  }
  .div-34 {
    align-self: end;
    display: flex;
    margin-top: 57px;
    flex-direction: column;
  }
  
  .div-35 {
    color: #3e6a67;
    white-space: nowrap;
    font: 500 28px Jost, sans-serif;
  }
  
  .div-36 {
    color: #000;
    margin-top: 23px;
    font: 500 24px Jost, sans-serif;
  }
  .div-37 {
    color: #3e6a67;
    max-width: 999px;
    margin: 15px 23px 0 0;
    font: 500 28px Jost, sans-serif;
  }
  
  .div-38 {
    color: #000;
    max-width: 999px;
    margin: 28px 23px 0 0;
    font: 500 24px Jost, sans-serif;
  }


.footer-content {
    padding: 1.5rem 9%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.footer-content a {
    margin: 1rem;
}